 .u-section-1 {
     min-height: 728px;
 }
 
 .u-section-1 .u-shape-1 {
     width: calc(((100% - 1140px) / 2) + 376px);
     height: 799px;
     background-image: none;
     margin: 0 auto 0 0;
 }
 
 .u-section-1 .u-layout-wrap-1 {
     pointer-events: auto;
     width: 1140px;
     margin: -763px auto 36px;
 }
 
 .u-section-1 .u-image-1 {
     min-height: 657px;
     pointer-events: auto;
     background-image: url("https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.6435-9/118778817_884729832053728_6851524984426058635_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFmYnTGknPlun8iEqVKgKMxIoN-HYQlu1kig34dhCW7WaZwNXhpYtFzqYDfD5HTc2qRaLvUQwzvJ-Y8nJ2psGrI&_nc_ohc=Ju3jRK3RqcwAX_Qb1P0&_nc_ht=scontent.fbkk2-6.fna&oh=00_AT-eNbbo6g8RGQM7Xs7bOO3MedSqhSb7iITg-NhwEaYchQ&oe=620D1C3B");
     background-position: 50% 50%;
 }
 
 .u-section-1 .u-container-layout-1 {
     padding: 30px 60px;
 }
 
 .u-section-1 .u-layout-cell-2 {
     min-height: 657px;
     pointer-events: auto;
 }
 
 .u-section-1 .u-container-layout-2 {
     padding: 60px;
 }
 
 .u-section-1 .u-text-1 {
     font-size: 6rem;
     text-transform: uppercase;
     font-weight: 200;
     margin: 0;
 }
 
 .u-section-1 .u-text-2 {
     letter-spacing: 8px;
     font-size: 1.25rem;
     font-weight: 900;
     margin: 76px 41px 0;
 }
 
 .u-section-1 .u-btn-1 {
     font-size: 1.25rem;
     text-transform: uppercase;
     font-weight: 400;
     letter-spacing: 2px;
     background-image: none;
     border-style: none;
     margin: 20px auto 0;
     padding: 11px 67px;
 }
 
 @media (max-width: 1199px) {
     .u-section-1 {
         min-height: 613px;
     }
     .u-section-1 .u-shape-1 {
         width: calc(((100% - 940px) / 2) + 362px);
         left: 0;
         right: auto;
         height: auto;
         margin: initial;
     }
     .u-section-1 .u-layout-wrap-1 {
         width: 940px;
         margin-top: 71px;
     }
     .u-section-1 .u-image-1 {
         min-height: 542px;
     }
     .u-section-1 .u-layout-cell-2 {
         min-height: 542px;
     }
     .u-section-1 .u-container-layout-2 {
         padding: 50px;
     }
     .u-section-1 .u-text-1 {
         font-size: 4.5rem;
     }
     .u-section-1 .u-text-2 {
         margin-left: 0;
         margin-right: 0;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-1 {
         min-height: 614px;
     }
     .u-section-1 .u-shape-1 {
         width: calc(((100% - 720px) / 2) + 253px);
         height: auto;
         margin: initial;
     }
     .u-section-1 .u-layout-wrap-1 {
         width: 720px;
     }
     .u-section-1 .u-image-1 {
         min-height: 415px;
     }
     .u-section-1 .u-container-layout-1 {
         padding-left: 30px;
         padding-right: 30px;
     }
     .u-section-1 .u-layout-cell-2 {
         min-height: 100px;
     }
     .u-section-1 .u-container-layout-2 {
         padding: 30px;
     }
     .u-section-1 .u-text-1 {
         font-size: 3.75rem;
     }
     .u-section-1 .u-text-2 {
         font-size: 1.0625rem;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-1 {
         min-height: 1102px;
     }
     .u-section-1 .u-shape-1 {
         height: 468px;
         margin-top: 0;
         margin-bottom: 0;
         width: auto;
         left: auto;
         bottom: auto;
         right: auto;
         top: auto;
     }
     .u-section-1 .u-layout-wrap-1 {
         width: 540px;
         margin-top: -397px;
     }
     .u-section-1 .u-image-1 {
         min-height: 623px;
     }
     .u-section-1 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-1 .u-layout-cell-2 {
         min-height: 467px;
     }
     .u-section-1 .u-container-layout-2 {
         padding-left: 50px;
         padding-right: 50px;
     }
     .u-section-1 .u-text-1 {
         font-size: 4.5rem;
     }
     .u-section-1 .u-text-2 {
         width: auto;
         margin-top: 46px;
     }
     .u-section-1 .u-btn-1 {
         margin-top: 51px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-1 {
         min-height: 936px;
     }
     .u-section-1 .u-shape-1 {
         height: 329px;
         width: auto;
         margin-right: initial;
         margin-left: initial;
     }
     .u-section-1 .u-layout-wrap-1 {
         width: 340px;
         margin-top: -258px;
     }
     .u-section-1 .u-image-1 {
         min-height: 392px;
     }
     .u-section-1 .u-layout-cell-2 {
         min-height: 100px;
     }
     .u-section-1 .u-container-layout-2 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-1 .u-text-1 {
         font-size: 3rem;
     }
 }